		<section class="sec sec--contato">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h1>Quer mais informações?</h1>
						<p class="paragraph">Preencha o formulário que em breve responderemos sua dúvidas.</p>
						<form>
							<div class="grid-x grid-margin-x">
								<div class="cell large-12">
									<input type="text" name="" placeholder="Seu nome">
								</div>
								<div class="cell large-6">
									<input type="email" name="" placeholder="Seu email">
								</div>
								<div class="cell large-6">
									<input type="tel" name="" placeholder="Seu telefone/celular">
								</div>
								<div class="cell large-12">
									<select>
										<option value="estado">Estado</option>
									</select>
								</div>
								<div class="cell large-12">
									<select>
										<option value="cidade">Cidade</option>
									</select>
								</div>
								<div class="cell large-12">
									<textarea placeholder="Deixe sua mensagem"></textarea>
								</div>
								<div class="cell large-12 text-right">
									<input type="submit" class="button" value="Enviar">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>