	<div class="newsletter">
		<div class="grid-container">
			<div class="grid-x align-middle">
				<div class="cell large-6">
					<div class="newsletter-message">
						<img src="images/icons/envelope-email.png"><span>Receba nossas novidades</span>
					</div>
				</div>
				<div class="cell large-6">
					<form>
						<div class="input-group">
							<div class="input-group-button">
								<input type="email" name="E-mail" placeholder="Digite seu email"><input type="submit" class="button" name="Enviar" value="Enviar">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer-content">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell large-4">
						<img src="../images/guartecs-logo-white.png" title="Guartecs" alt="Guartecs">
					</div>
					<div class="cell large-4">
						<nav class="footer-menu">
							<ul>
								<li>Empresa</li>
								<li>Produtos</li>
								<li>Características</li>
								<li>Galeria</li>
								<li>Como comprar</li>
								<li>Instalação</li>
								<li>Blog</li>
								<li>Contato</li>
								<li>Orçamento</li>
							</ul>
						</nav>
					</div>
					<div class="cell large-4">
						<div class="footer-tel"><img src="images/icons/icon-phone.png"> 0800 777-0199 - (11) 98129-0226</div>
						<div class="footer-email"><img src="images/icons/icon-email.png"> guartecs@GUARTECS.com.br</div>
					</div>
				</div>
			</div>
		</div>
		<div class="all-rights-reserved">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<div class="footer-wrapper">
							© 2019 Guartecs. Todos os direitos reservados.
							<div class="social-media-icons">
								<img src="images/icons/facebook-white.png"><img src="images/icons/instagram-white.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/scripts.js"></script>
	<script type="text/javascript" src="/javascripts/slider.js"></script>
	<script type="text/javascript" src="/javascripts/foundation.js"></script>
	<!-- <script type="text/javascript" src="/javascripts/jquery.min.js"></script> -->
	<script type="text/javascript" src="/javascripts/owl.carousel.min.js"></script>
</body>
</html>