<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<link rel="stylesheet" href="/stylesheets/motion-ui.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell small-5">
						<div class="header-wrapper">
							<img src="images/guartecs-logo.png" title="Guartecs" alt="Guartecs">
						</div>
					</div>
					<div class="cell small-7">
						<div class="header-wrapper">
							<div class="switch-mobile">
								<div class="header-tel">0800 777-0199 - (11) 98129-0226</div>
								<div class="header-tel">0800 777-0199<br>(11) 98129-0226</div>
							</div>
							<div class="btn btn--primary btn-orcamento">Orçamento</div>
							<div class="social-media-icons">
								<img src="images/icons/facebook.png"><img src="images/icons/instagram.png">
							</div>
							<a href="#menu" class="menu-link"><img src="/images/menu-toggle.png" alt="Menu"></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<nav class="main-menu" id="menu" role="navigation">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<ul>
							<li>Empresa</li>
							<li>Produtos</li>
							<li>Características</li>
							<li>Galeria</li>
							<li>Como comprar</li>
							<li>Instalação</li>
							<li>Blog</li>
							<li>Contato</li>
							<li>Orçamento</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>