<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell large-4">
						<div class="header-wrapper">
							<img src="images/guartecs-logo.png" title="Guartecs" alt="Guartecs">
						</div>
					</div>
					<div class="cell large-8">
						<div class="header-wrapper">
							<div class="header-tel"><img src="images/icons/whatsapp.png"> 0800 777-0199 - (11) 98129-0226</div>
							<div class="btn btn--primary">Orçamento</div>
							<div class="social-media-icons">
								<img src="images/icons/facebook.png"><img src="images/icons/instagram.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<nav class="main-menu">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<ul>
							<li>Empresa</li>
							<li>Produtos</li>
							<li>Características</li>
							<li>Galeria</li>
							<li>Como comprar</li>
							<li>Instalação</li>
							<li>Blog</li>
							<li>Contato</li>
							<li>Orçamento</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>