// FORMS
form
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select,
	select option,
	textarea
		height: 60px
		padding: 15px
		border-radius: 10px
		&::placeholder
			text-transform: uppercase
	select
		color: #cacaca
		background:
			image: url('../images/icons/arrow-down.png')
			size: 15px
			position: right 0rem center
	textarea
		height: 230px
	[type="submit"]
		color: white
		background-color: $color-red
		font-family: $font-baloo
		font-size: 18px
		padding: 19px 100px 16px
		text-transform: uppercase
		border-radius: 33px !important
		&:hover,
		&:focus
			text-decoration: underline
			cursor: pointer
			color: white
			background-color: darken($color-red, 5%)

// Form da página ORÇAMENTO
input[type="file"].wpcf7-form-control.wpcf7-file.inputfile
	color: transparent
	position: relative
	margin-bottom: 0
	&::-webkit-file-upload-button
		visibility: hidden
	&:before
		content: "Enviar foto"
		display: inline-block
		text-transform: uppercase
		position: relative
		border-radius: 60px
		background: #9FE3F7
		color: white
		text-transform: uppercase
		font-family: $font-baloo
		font-size: 13px
		padding: 12px 50px 10px 20px
		position: relative
		cursor: pointer
		@include transition(200ms)
		&:hover
			background: $color-blue
		&:focus
			outline: 1px dotted #000
			outline: -webkit-focus-ring-color auto 5px
	&:after
		content: ""
		display: block
		background:
			image: url('../images/icons/icon-camera.png')
			repeat: no-repeat
		width: 25px
		height: 20px
		position: absolute
		left: 108px
		top: 10px
		cursor: pointer

label.inputfilelabel
	font-style: italic
	color: $color-blue
	margin-bottom: 1rem

input[type="radio"] + label
	margin-left: 0
	color: #cacaca
	font-size: 18px

.input-group
	margin-bottom: 0
