// General
body, html
	margin: 0
	height: 100%
	font: $font-style $font-weight #{$font-size}/#{$line-height} $font-family
	background-color: white

a 
	color: $link

h1
	color: $font-color
	margin-top: 0

// Helpers
.text-left
	text-align: left

.text-right
	text-align: right

.title-red
	color: $color-red

.title-blue
	color: $color-blue

.title-white
	color: white

.margin-bottom-20
	margin-bottom: 20px

.margin-bottom-40
	margin-bottom: 40px

.margin-bottom-0
	margin-bottom: 0

.switch-mobile div
  &:first-child
    display: block
  &:last-child
    display: none
  @media only screen and (max-width: 40.1rem)
    &:first-child
      display: none
    &:last-child
      display: block

.visible-mobile-small-only
  @media only screen and (min-width: 40rem)
    display: none !important
  @media only screen and (max-width: 40rem)
    display: block

.simulador
	margin: 40px 0

.arrow-down
	margin-bottom: 40px
	align-self: center
