// General
body, html
	margin: 0
	height: 100%
	font: $font-style $font-weight #{$font-size}/#{$line-height} $font-family
	background-color: white

a 
	color: $link

h1
	color: $font-color
	margin-top: 0

// Fonts
@font-face
  font-family: 'baloo_daregular'
  src:  url('../fonts/balooda-regular-webfont.woff') format('woff'), url('../fonts/balooda-regular-webfont.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sans'
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sans'
  src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'open_sans'
  src: url('../fonts/OpenSans-Italic-webfont.woff') format('woff')
  font-weight: normal
  font-style: italic

// Helpers
.text-left
	text-align: left

.text-right
	text-align: right

.title-red
	color: $color-red

.title-blue
	color: $color-blue

.title-white
	color: white

.switch-mobile div
  &:first-child
    display: block
  &:last-child
    display: none
  @media only screen and (max-width: 40.1rem)
    &:first-child
      display: none
    &:last-child
      display: block

.visible-mobile-small-only
  @media only screen and (min-width: 40rem)
    display: none !important
  @media only screen and (max-width: 40rem)
    display: block

// Navigation
.js nav[role=navigation].main-menu
	background-color: $color-red
	box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.3)
	overflow: auto
	ul
		margin: 0
		text-align: center
		border-top: none
		font-size: 0
		display: flex
		justify-content: space-between
		li
			flex-grow: 1
			padding: 8px 0
			margin: 0
			border-right: 1px solid #F2617C
			text-transform: uppercase
			font-family: $font-baloo
			font-size: 18px
			color: white
			line-height: normal
			&:nth-last-child(2)
				border-right: none
			&.active
				background-color: $color-blue
				box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.3)
			a
				padding: 0
				color: white
				border-bottom: none
				&:hover,
				&:focus
					color: #fefefe
	@media only screen and (max-width: 40.1rem)
		.grid-container
			padding: 0
		ul
			display: block
			li
				display: block
				border-bottom: 1px solid #F2617C
				border-right: none
				text-align: left
				padding: 5px 10px
				&:last-child
					border-bottom: none
					text-align: center
					padding: 40px 0
					img
						margin-bottom: 15px
				.social-media-icons
					width: 56px
					margin: 40px auto
					img:first-child
						padding-right: 20px
	&.active
		max-height: 40em

@media only screen and (max-width: 40.1rem)
	.main-menu ul li
		display: block

// Breadcrumbs
.breadcrumbs
	background-color: $color-beige
	ul
		margin: 0
		list-style: none
		li
			padding: 15px 0
			text-transform: unset
			&:last-child a
				color: $color-red
			a
				color: $color-blue
				font-family: $font-baloo
				font-size: 16px
	@media only screen and (max-width: 40.1rem)
		position: relative
		top: 90px

// Header
header
	background-color: white
	@media only screen and (max-width: 40.1rem)
		position: fixed
		z-index: 9

.header-wrapper
	display: flex
	justify-content: space-evenly
	align-items: center
	margin: 15px 0
	min-height: 58px
	.social-media-icons
		width: 56px
		img:first-child
			padding-right: 20px
	.btn-orcamento
		box-shadow: none
	&.logo-wrapper
		justify-content: flex-start
		// padding-left: 22px
		@media only screen and (max-width: 40.1rem)
			padding-left: 0
			padding-right: 8px

.header-tel
	color: $color-red
	font-family: $font-baloo
	font-size: 22px
	position: relative
	top: 5px
	padding-left: 32px
	&:before
		content: ""
		display: block
		position: absolute
		background-image: url('../images/icons/whatsapp.png')
		width: 32px
		height: 32px
		top: 0
		left: -5px
	@media only screen and (max-width: 26rem)
		font-size: 12px
		padding-left: 20px
		top: 2px
		&:before
			background-size: 20px
			width: 20px
			height: 20px
			top: 2px

// Header Mobile version -- small screens
@media only screen and (max-width: 40.1rem)
	.header-wrapper
		.btn-orcamento
			position: fixed
			bottom: 10px
			right: 10px
			z-index: 9
			font-size: 14px
			height: 100px
			width: 100px
			border-radius: 50px
			box-shadow: 0 15px 34px 0 rgba(0,0,0,0.2)
			display: flex
			align-items: center
			justify-content: center
		.social-media-icons
			display: none
	.header-tel
		line-height: 1.2


// COMPONENTS
.card
	border: none
	box-shadow: 6px 0 32px 0 rgba(0,0,0, 0.1)
	margin: 10px
	border-radius: 10px
	overflow: visible
	background-color: white
	&--beige
		background-color: $color-beige
	&--blue
		background-color: $color-blue
	&--padding
		padding: 50px 80px
	.card-section
		p
			font-size: 15px
		h2
			margin-bottom: 20px
		h3
			font-size: 21px
			font-weight: bold
			margin-bottom: 0
	@media only screen and (max-width: 40.1rem)
		&--padding
			padding: 50px 20px

.btn
	display: inline-block
	border-radius: 60px
	background: $color-blue
	color: white
	text-transform: uppercase
	font-family: $font-baloo
	font-size: 18px
	padding: 10px 20px
	box-shadow: 0 15px 34px 0 rgba(0,0,0,0.2)
	&--secondary
		background: $color-red
	&--tertiary
		background: white
		color: $color-blue

.selos
	list-style: none
	display: flex
	flex-wrap: wrap
	justify-content: space-evenly
	align-items: center
	li
		display: inline-block

.simulador
	margin: 40px 0

.arrow-down
	margin-bottom: 40px
	align-self: center

.paragraph
	font-size: 1.500rem
	line-height: 1.4
	margin: 0 auto 32px
	@media only screen and (max-width: 40.1rem)
		font-size: 1.250rem
		margin: 32px auto

.friso
	display: block
	height: 1px
	width: 170px
	border-bottom: 1px dotted #2C2C30
	margin: 20px auto

// SECTION
.sec
	text-align: center
	font-size: 1.5rem
	padding: 40px 0
	h1
		font-family: $font-baloo
		font-size: 3.125rem
		line-height: 1
	h2
		font-family: $font-baloo
		font-size: 32px
		line-height: 32px
	@media only screen and (max-width: 40.1rem)
		h1
			font-size: 2.750rem

// Forms
main
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select,
	select option,
	textarea
		height: 70px
		padding: 20px
		border-radius: 10px
		&::placeholder
			text-transform: uppercase
	select
		color: #cacaca
	textarea
		height: 230px
	[type="submit"]
		width: 280px
		color: white
		background-color: $color-red
		font-family: $font-baloo
		font-size: 18px
		text-transform: uppercase
		height: 66px !important
		border-radius: 33px !important
	@media only screen and (max-width: 40.1rem)
		&.bc-mobile-push
			margin-top: 90px

// Footer
.newsletter
	background-color: #F3EEE4
	height: 120px
	padding: 26px 0
	.input-group
		justify-content: flex-end
	.input-group-button
		position: relative
	input
		// Fix - Sobrescrevendo regras do Foundation para estilizar os inputs da newsletter
		height: 66px !important
		border-radius: 33px !important
		&[type="email"]
			width: 500px
			&::placeholder
				color: $color-red
				padding-left: 40px
			@media only screen and (max-width: 40.1rem)
				width: initial
		&[type="submit"]
			position: absolute
			right: 0
			width: 168px
			color: white
			background-color: $color-red
			font-family: $font-baloo
			font-size: 14px
			text-transform: uppercase
	.newsletter-message span
		color: $color-red
		font-family: $font-baloo
		font-size: 24px
		margin-left: 32px
	@media only screen and (max-width: 40.1rem)
		height: initial
		.input-group-button
			width: 100%
		input[type="email"]
			width: 100%
		input[type="submit"]
			width: 118px
		.newsletter-message
			text-align: center
			padding-bottom: 20px
			span
				font-size: 20px
				margin-left: 22px

footer
	background-color: $color-red
	color: white
	overflow: auto
	.footer-content
		margin: 75px auto
	.all-rights-reserved
		border-top: 1px solid white

.footer-menu ul
	column-count: 2
	column-width: 150px
	margin: 0
	li
		display: block
		text-transform: uppercase
		font-family: $font-baloo
		font-size: 18px
	@media only screen and (max-width: 40.1rem)
		column-count: 1
		column-width: auto
		margin: 20px 0

.footer-tel,
.footer-email
	font-family: $font-baloo
	font-size: 20px
	text-transform: uppercase
	img
		padding-right: 36px
	@media only screen and (max-width: 40.1rem)
		font-size: 16px
		img
			padding-right: 16px

.footer-tel
	padding-bottom: 10px

.footer-wrapper
	display: flex
	justify-content: space-between
	align-items: center
	min-height: 72px
	.social-media-icons
		width: 56px
		img:first-child
			padding-right: 20px
	@media only screen and (max-width: 40.1rem)
		display: block
		padding: 15px
		.social-media-icons
			width: 100%
			text-align: center
