// HEADER
header
	background-color: white
	position: fixed
	z-index: 9
	width: 100%

.header-wrapper
	display: flex
	align-items: center
	padding: 15px 0
	justify-content: space-between

.logo-wrapper img
	max-width: 274px

.header-content
	display: flex
	align-items: center
	.btn-orcamento
		box-shadow: none
		font-size: 18px
		padding: 10px 30px 8px
		margin: 0 30px 0 50px

.header-tel
	color: $color-red
	font-family: $font-baloo
	font-size: 22px
	position: relative
	padding-left: 32px
	&:before
		content: ""
		display: block
		position: absolute
		background:
			image: url('../images/icons/whatsapp.svg')
			repeat: no-repeat
			size: contain
		width: 30px
		height: 30px
		top: 0
		left: -5px

// NAVIGATION
.js nav[role=navigation].main-menu
	background-color: $color-red
	box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.3)
	overflow: visible
	ul
		margin: 0
		text-align: center
		border-top: none
		font-size: 0
		display: flex
		justify-content: space-between
		li
			position: relative
			flex-grow: 1
			padding: 8px 0
			margin: 0
			border-right: 1px solid #F2617C
			text-transform: uppercase
			font-family: $font-baloo
			font-size: 18px
			color: white
			&:hover
				@include transition(200ms)
				background-color: darken($color-red, 5%)
				box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.3)
			&:nth-last-child(2)
				border-right: none
			&.active
				background-color: $color-blue
				box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.3)
			a
				padding: 0
				color: white
				border-bottom: none
				position: relative
				top: 2px
			&.has-subitem:hover .subitem
				display: block
				visibility: visible
				@include transition(200ms)
			.subitem
				display: none
				visibility: hidden
				position: absolute
				top: 44px
				background-color: $color-red
				box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,0.3)
				@include transition(200ms)
				li
					width: 100%
					border-right: 0
					font-size: 16px
					padding: 8px 10px
	&.active
		max-height: 40em

// BREADCRUMBS
div.breadcrumbs
	background-color: $color-beige
	margin: 0
	ul
		margin: 0
		list-style: none
		li
			padding: 15px 0
			text-transform: unset
			&:last-child a
				color: $color-red
			a
				color: $color-blue
				font-family: $font-baloo
				font-size: 16px

// Header Mobile version -- medium screens
@media only screen and (max-width: 64rem)
	.logo-wrapper img
		max-width: 168px
	.header-content .btn-orcamento
		font-size: 16px
	.header-tel
		font-size: 18px
	.js nav[role=navigation].main-menu
		ul li
			font-size: 14px

// Header Mobile version -- small screens
@media only screen and (max-width: 40rem)
	header
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3)
	.header-tel
		font-size: 13px
		padding-left: 20px
		top: 3px
		&:before
			background-size: 20px
			width: 20px
			height: 20px
			top: 4px
	.header-wrapper
		padding: 15px 5px
		.social-media-icons
			display: none
	.header-content .btn-orcamento
		position: fixed
		bottom: 10px
		right: 10px
		z-index: 9
		font-size: 14px
		height: 100px
		width: 100px
		margin: auto
		border-radius: 50px
		box-shadow: 0 15px 34px 0 rgba(0,0,0,0.2)
		display: flex
		align-items: center
		justify-content: center
	.header-tel
		line-height: 1.2
	.js nav[role=navigation].main-menu
		overflow: auto
		.grid-container
			padding: 0
		ul
			display: block
			li
				display: block
				border-bottom: 1px solid #F2617C
				border-right: none
				text-align: left
				padding: 5px 10px
				&:last-child
					border-bottom: none
					text-align: center
					padding: 40px 0
					img
						margin-bottom: 15px
				.social-media-icons
					margin: 40px auto
					a
						display: inline-block
						&:nth-child(n+2)
							padding-left: 20px
				.subitem
					display: block
					visibility: visible
					position: unset
					box-shadow: none
					background-color: unset
					li
						padding: 10px 20px
						font-size: 12px
						&:last-child
							padding: 10px 20px
							text-align: left
						&:hover
							background-color: unset
							box-shadow: none
	.main-menu ul li
		display: block
