// Typography
@font-face
  font-family: 'baloo_daregular'
  src:  url('../fonts/balooda-regular-webfont.woff') format('woff'), url('../fonts/balooda-regular-webfont.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sans'
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sans'
  src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'open_sans'
  src: url('../fonts/OpenSans-Italic-webfont.woff') format('woff')
  font-weight: normal
  font-style: italic

.paragraph
  font-size: 1.500rem
  line-height: 1.4
  margin: 0 auto 32px
  @media only screen and (max-width: 40.1rem)
    font-size: 1.250rem
    margin: 32px auto
