<%- include('partials/header') %>
	<main class="page page--empresa">
		<section class="sec">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h1 class="title-blue">Segurança em Piscinas</h1>
					</div>
				</div>
				<div class="grid-x">
					<div class="cell large-6">
						<figure>
							<img src="images/fachada-fabrica.jpg">
							<figcaption>Fachada da Fábrica</figcaption>
						</figure>
						<figure>
							<img src="images/tela-verde-coluna-natural.jpg">
							<figcaption>Tela Verde - Coluna Natural</figcaption>
						</figure>
					</div>
					<div class="cell large-6">
						<p class="paragraph text-left">Em 1999, a Guartecs fabricou e instalou sua primeira cerca removível para proteger 
							as crianças perto de piscinas. Foi em 22 de novembro, em Alphaville, São Paulo.
							A Guartecs foi a pioneira em cercas removíveis na América do Sul. Nestes 20 anos, instalou no Brasil mais de 13.000 cercas de segurança para piscinas, de Porto Alegre a Fortaleza, de Corumbá a Salvador, que correspondem a mais de 240.000 metros instaladas. 
							As cercas são configuradas para qualquer 
							formato de piscina com preocupação estética.</p>
						<p class="paragraph text-left">Nossa qualidade resulta não somente do uso exclusivo de materiais oriundos de fornecedores com certificado ISO, mas também do controle de qualidade interno e principalmente dos nossos serviços de projeto e instalação. A correta instalação garante a tensão adequada na tela. 
						A empresa treina todas as equipes de instalação, próprias e dos revendedores, e dá apoio técnico integral aos instaladores dos clientes.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="sec">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h1 class="title-red">Nossa Missão</h1>
						<div class="card card--beige">
							<div class="card-section">Nossa missão é contribuir significativamente para a redução de acidentes domésticos na área da piscina, com produtos de segurança e<br>elevado padrão estético, em resumo visando lazer com segurança.</div>
						</div>
					</div>
				</div>
				<div class="grid-x">
					<div class="cell">
						<h1 class="title-blue">Qualidade de Atendimento</h1>
						<div class="card card--blue">
							<div class="circled-icon circled-icon--over">
								<img src="images/icons/icon-like.png">
							</div>
							<div class="card-section card-section--variation">
								Pesquisa recente mostrou que 100% dos clientes estavam plenamente satisfeitos e que 30% tinham procurado a Guartecs por indicação.
							</div>
						</div>
						<div class="card card--blue">
							<div class="grid-x">
								<div class="cell large-6">
									<div class="card-section">
										<h2 class="title-white">Pronta Entrega</h2>
										<div class="circled-icon">
											<img src="images/icons/icon-car.png">
										</div>
										<p class="paragraph">Temos produtos a pronta entrega.
										Despachamos para todo o território nacional.</p>
									</div>
								</div>
								<div class="cell large-6">
									<div class="card-section">
										<h2 class="title-white">Instalação em Horas</h2>
										<div class="circled-icon">
											<img src="images/icons/icon-velocimetro.png">
										</div>
										<p class="paragraph">Equipes bem treinadas e motivadas garantem a qualidade no atendimento residencial. Instalação realizada em até 2 horas.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell text-center">
						<div class="ltda-disclaimer">
							<span>APC Indústria e Comércio Ltda.<br>CNPJ: 01898773/0001-08</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('partials/contato') %>
	</main>
<%- include('partials/footer') %>