<%- include('partials/header') %>
	<main class="main">
		<section class="sec sec--slide">
			<div class="orbit carousel-home" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false">
			  <div class="orbit-wrapper">
			    <div class="orbit-controls">
			      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
			      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
			    </div>
			    <ul class="orbit-container">
			      <li class="is-active orbit-slide">
			      	<div class="grid-container">
								<div class="grid-x">
									<div class="cell">
								  	<div class="slide-content">
									  	<h2>Evite o perigo<br>para suas crianças!</h2>
									  	<h1>Cercas removíveis<br>para piscinas.</h1>
									  	<div class="btn">Conheça os clientes atendidos</div>
								  	</div>
									</div>
								</div>
							</div>
			        <figure class="orbit-figure">
			          <img class="orbit-image" src="images/slide-1-crop.jpg?text=Slide-1" alt="Space">
			        </figure>
			      </li>
			      <li class="orbit-slide">
			      	<div class="grid-container">
								<div class="grid-x">
									<div class="cell">
								  	<div class="slide-content">
									  	<h1>Tornando piscinas<br>seguras para crianças<br>e pets, há mais de 20 anos!</h1>
									  	<div class="btn">Conheça os clientes atendidos</div>
								  	</div>
									</div>
								</div>
							</div>
			        <figure class="orbit-figure">
			          <img class="orbit-image" src="images/slide-2-crop.jpg?text=Slide-2" alt="Space">
			        </figure>
			      </li>
			    </ul>
			  </div>
			  <nav class="orbit-bullets">
			    <button class="is-active" data-slide="0">1
			      <span class="show-for-sr">First slide details.</span>
			      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
			    </button>
			    <button data-slide="1">2<span class="show-for-sr">Second slide details.</span></button>
			  </nav>
			</div>
		  <div class="slide-mask"></div>
		</section>
		<section class="sec sec--cerca">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h1>Cerca para proteção de crianças em piscinas</h1>
						<p>Cerca removível é a melhor maneira de proteger suas crianças<br>
							e seus animais de estimação contra afogamento.<br>
							É uma barreira física, facilmente monitorável pelos responsáveis.<br>
							<b>É bonita, transparente, durável, dispensa pintura e é livre de manutenção.</b></p>
					</div>
				</div>
				<div class="grid-x">
					<div class="cell medium-6 small-12">
						<div class="card remove-float-left-mobile float-left">
							<img src="images/icons/alu.png" class="alu-icon">
							<img src="images/coluna-reforcada.png">
							<div class="card-section">
								<h3>Colunas de alumínio<br>
									reforçadas (AR)<br>
								Furos de 32 mm</h3>
								<div class="btn btn--primary">Saiba mais</div>
							</div>
						</div>
					</div>
					<div class="cell medium-6 small-12">
						<div class="card remove-float-right-mobile float-right">
							<img src="images/icons/alu.png" class="alu-icon">
							<img src="images/coluna-acoinox.png">
							<div class="card-section">
								<h3>Colunas de alumínio<br>
									e aço inox (A+A)<br>
								Furos de 16 mm</h3>
								<div class="btn btn--primary">Saiba mais</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dog-with-kid">
				<img src="images/dog-kid.png">
			</div>
			<div class="slide-mask">
				<!-- <img src="images/slide-mask-2.png"> -->
			</div>
		</section>
		<section class="sec sec--diferenciais">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h1>Nossos Diferenciais</h1>
						<p>Ao adquirir a cerca para piscina Guartecs você conta com dois modelos de coluna, alça anatômica, fecho inox com mola e três modelos de portão, com qualidade assegurada.</p>
					</div>
				</div>
				<div class="grid-x">
					<div class="cell large-6 small-12">
						<div class="card card--diferenciais">
							<figure class="diferenciais-figure diferenciais-figure--1">
						  	<img src="images/alca-fecho.jpg">
							</figure>
						  <div class="card-section">
						    <h2>ALÇA ANATÔMICA<br>FECHO EM INOX</h2>
						    <p>Alças facilitam a aproximação das colunas ao fechar ou abrir a cerca. Confortáveis e em cores.<br>
						    Fecho de segurança em aço inoxidável, com mola, que impede a abertura por crianças pequenas.<br>
						    <br>Patente BR 20 2014 000856 5 e BR 20 2015 016029 7</p>
						    <div class="btn btn--primary">Saiba mais</div>
						  </div>
						</div>
					</div>
					<div class="cell large-6 small-12">
						<div class="card card--diferenciais">
							<figure class="diferenciais-figure diferenciais-figure--2">
						  	<img src="images/portao-seguranca.jpg">
							</figure>
						  <div class="card-section">
						    <h2>PORTÃO AUTOMÁTICO<br>OPCIONAL</h2>
						    <h3>Impossível esquecer o portão aberto!</h3>
						    <p>Retorno automático devido às dobradiças importadas.<br>
						    Travamento magnético através da fechadura<br>importada Magna Latch.<br>
						    <br>É impossível a abertura por crianças porque exige puxar um botão que fica do lado de dentro da cerca, a meia altura.</p>
						    <div class="btn btn--primary">Saiba mais</div>
						  </div>
						</div>
					</div>
				</div>
				<div class="grid-x">
					<div class="cell">
						<div class="card card--qualidade">
							<div class="card-section">
								<h2>Qualidade</h2>
								<p>A Guartecs obteve certificações junto ao SENAI São Paulo  das telas nacionais e importadas.<br>
									As resistências das cercas atendem às normas NF P 30-306, França e ASTM F2286-16, EUA.<br>
								A Guartecs é a única empresa com o selo de Qualidade do Produto SOBRASA.</p>
								<ul class="selos">
									<li><img src="images/selos/falcao-bauer.png"></li>
									<li><img src="images/selos/anapp.png"></li>
									<li><img src="images/selos/selo-sobrasa.png"></li>
									<li><img src="images/selos/afnor.png"></li>
									<li><img src="images/selos/astm.png"></li>
									<li><img src="images/selos/senai.png"></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec sec--galeria">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h1>Galeria de trabalhos</h1>
						<p>Algumas das 13.000 cercas Guartecs instaladas.</p>
					</div>
					<div class="cell">
						<div class="gallery-container">
							<figure class="gallery-figure">
								<img src="images/tela-azul-coluna-natural-1.jpg" alt="Tela Azul Coluna Natural">
								<figcaption>Tela Azul - Coluna Natural</figcaption>
							</figure>
							<figure class="gallery-figure">
								<img src="images/tela-azul-coluna-natural-2.jpg" alt="Tela Azul Coluna Natural">
								<figcaption>Tela Azul - Coluna Natural</figcaption>
							</figure>
							<figure class="gallery-figure">
								<img src="images/tela-azul-coluna-natural-3.jpg" alt="Tela Azul Coluna Natural">
								<figcaption>Tela Azul - Coluna Natural</figcaption>
							</figure>
							<figure class="gallery-figure">
								<img src="images/tela-azul-coluna-natural-4.jpg" alt="Tela Azul Coluna Natural">
								<figcaption>Tela Azul - Coluna Natural</figcaption>
							</figure>
							<figure class="gallery-figure">
								<img src="images/tela-cinza-coluna-natural-1.jpg" alt="Tela Cinza Coluna Natural">
								<figcaption>Tela Cinza - Coluna Natural</figcaption>
							</figure>
							<figure class="gallery-figure">
								<img src="images/tela-cinza-coluna-natural-2.jpg" alt="Tela Cinza Coluna Natural">
								<figcaption>Tela Cinza - Coluna Natural</figcaption>
							</figure>
							<figure class="gallery-figure">
								<img src="images/tela-cinza-coluna-natural-3.jpg" alt="Tela Cinza Coluna Natural">
								<figcaption>Tela Cinza - Coluna Natural</figcaption>
							</figure>
							<figure class="gallery-figure">
								<img src="images/tela-cinza-coluna-natural-4.jpg" alt="Tela Cinza Coluna Natural">
								<figcaption>Tela Cinza - Coluna Natural</figcaption>
							</figure>
							<figure class="gallery-figure">
								<img src="images/tela-cinza-coluna-natural-5.jpg" alt="Tela Cinza Coluna Natural">
								<figcaption>Tela Cinza - Coluna Natural</figcaption>
							</figure>				
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec sec--sobre">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h2>Sobre a Guartecs</h2>
						<p>Há 20 anos a Guartecs foi fundada para proteger a vida de crianças.<br>
							Pioneira na América Latina contribui com a redução de acidentes em piscinas,<br>
						tendo mais de 13.000 clientes atendidos, o que<br>
						corresponde a mais de 240.000 metros de cercas instaladas. Muitas vidas salvas.<br>
						Recente pesquisa mostrou que 100% dos clientes estavam plenamente satisfeitos<br>
						e que 30% compraram da Guartecs por indicação.</p>
						<div class="btn btn--secondary">Veja Referências</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec sec--video">
			<div class="grid-container">
				<div class="grid-x align-middle">
					<div class="cell large-10 large-offset-1">
						<div class="responsive-embed widescreen">
							<iframe src="https://www.youtube.com/embed/YnQAMXdbprQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec sec--video-footer">
			<div class="grid-container">
				<img src="images/girl-crop.png" class="girl">
				<div class="grid-x">
					<div class="cell large-9 large-offset-3 small-12">
						<ul class="video-footer-content">
							<li>
								<img src="images/icons/icon-messenger-user-avatar.png">
								<span>+240.000</span>
								<p>METROS DE CERCAS</p>
							</li>
							<li>
								<img src="images/icons/icon-thumb-up-gesture.png">
								<span>+13.000</span>
								<p>CLIENTES SATISFEITOS</p>
							</li>
							<li>
								<img src="images/icons/icon-map-point-pointer.png">
								<span>+368</span>
								<p>CIDADES ATENDIDAS</p>
							</li>
						</ul>
						<div class="btn btn--tertiary">Confira</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec sec--simulador">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h2>Simulador</h2>
						<p>Ganhe um desenho em computador da sua futura cerca!<br>
						Veja simulação de antes e depois, abaixo.</p>
						<div class="btn btn--primary">Quero simular na minha casa</div>
						<img src="images/simulador-flat.jpg" class="simulador">
					</div>
				</div>
			</div>
		</section>
		<section class="sec sec--depoimentos">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h1>Depoimentos de clientes</h1>
						<p>Clientes plenamente satisfeitos com a segurança em suas piscinas</p>
					</div>
					<div class="cell">
						<div class="carousel-depoimentos">
							<div class="slide slide--1 card">
								<p>Quero agradecer e parabenizar vocês pelo trabalho! Fiquei bastante satisfeito com a solução. Muito bom também a qualidade e o nível do serviço do seu pessoal! Começando pela pontualidade que chegaram hoje pela manhã, conhecimento técnico, e sugestões de melhorias que foram muito boas durante a instalação! Realmente muito bom! Importante destacar o atendimento também do pessoal de vendas que também ofereceu todo o suporte! Parabéns e obrigado!</p>
								<h3>César</h3>
								<span>POÇOS DE CALDAS</span>
								<img src="images/depoimentos-cesar.png">
							</div>
							<div class="slide slide--2 card">
								<p>Boa noite.. parabéns pelo trabalho… atendimento… prazo e preço… também pela equipe que enviou… educados , obra limpa e com qualidade e eficiência…quanto ao pagamento… combinei com o Tiago que lhe dará informações… abcs e bom final de semana.</p>
								<h3>Sebastião</h3>
								<span>Jaguariúna</span>
								<img src="images/depoimentos-sebastiao.png">
							</div>
							<div class="slide slide--3 card">
								<p>Uma experiência ótima , serviço de qualidade, rapidez no atendimento, e execução excelente… Parabéns pelos funcionários super atenciosos e educados . Obrigada</p>
								<h3>Maria das Graças</h3>
								<span>Alphaville</span>
								<img src="images/depoimentos-maria.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec sec--sobrasa">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<img src="images/sobrasa-section-friso.png">
						<p>Segundo a <b>SOBRASA</b> e <b>ONG Criança-Segura</b>, capas, telas horizontais e redes de proteção<br>que cobrem a piscina não são eficazes e podem até mesmo facilitar acidentes. Os processos<br>de remoção e recolocação são demorados e propensos ao esquecimento.</p>
						<p>A cerca é removida em minutos, permitindo adequar o ambiente<br>a reuniões sociais de adultos.</p>
						<img src="images/sobrasa-section-selos.png">
					</div>
				</div>
			</div>
		</section>
		<section class="sec sec--contato">
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell">
						<h1>Quer mais informações?</h1>
						<p>Preencha o formulário que em breve responderemos sua dúvidas.</p>
						<form>
							<div class="grid-x grid-margin-x">
								<div class="cell large-12">
									<input type="text" name="" placeholder="Seu nome">
								</div>
								<div class="cell large-6">
									<input type="email" name="" placeholder="Seu email">
								</div>
								<div class="cell large-6">
									<input type="tel" name="" placeholder="Seu telefone/celular">
								</div>
								<div class="cell large-12">
									<select>
										<option value="estado">Estado</option>
									</select>
								</div>
								<div class="cell large-12">
									<select>
										<option value="cidade">Cidade</option>
									</select>
								</div>
								<div class="cell large-12">
									<textarea placeholder="Deixe sua mensagem"></textarea>
								</div>
								<div class="cell large-12 text-right">
									<input type="submit" class="button" value="Enviar">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>
<%- include('partials/footer') %>