<%- include('partials/header') %>
	<section class="sec sec--slide">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<p>slide here</p>
				</div>
			</div>
		</div>
	</section>
	<section class="sec sec--cerca">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<h1>Cerca para proteção de crianças em piscinas</h1>
					<p>Cerca removível é a melhor maneira de proteger suas crianças<br>
						e seus animais de estimação contra afogamento.<br>
						É uma barreira física, facilmente monitorável pelos responsáveis.<br>
						<b>É bonita, transparente, durável, dispensa pintura e é livre de manutenção.</b></p>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell large-6">
					<div class="card">
						<img src="">
						<div class="card-section">
							<h3>Colunas de alumínio<br>
								reforçadas (AR)<br>
							Furos de 32 mm</h3>
							<div class="btn btn--primary">Saiba mais</div>
						</div>
					</div>
				</div>
				<div class="cell large-6">
					<div class="card">
						<img src="">
						<div class="card-section">
							<h3>Colunas de alumínio<br>
								e aço inox (A+A)<br>
							Furos de 16 mm</h3>
							<div class="btn btn--primary">Saiba mais</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec sec--diferenciais">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<h1>Nossos Diferenciais</h1>
					<p>Ao adquirir a cerca para piscina Guartecs você conta com dois modelos de coluna, alça anatômica, fecho inox com mola e três modelos de portão, com qualidade assegurada.</p>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell large-6 small-12">
					<div class="card">
						<figure class="diferenciais-figure diferenciais-figure--1">
					  	<img src="images/alca-fecho.jpg">
						</figure>
					  <div class="card-section">
					    <h2>ALÇA ANATÔMICA FECHO EM INOX</h2>
					    <p>Alças facilitam a aproximação das colunas ao fechar ou abrir a cerca. Confortáveis e em cores.<br>
					    Fecho de segurança em aço inoxidável, com mola, que impede a abertura por crianças pequenas.</p>
					    <p>Patente BR 20 2014 000856 5 e BR 20 2015 016029 7</p>
					    <div class="btn btn--primary">Saiba mais</div>
					  </div>
					</div>
				</div>
				<div class="cell large-6 small-12">
					<div class="card">
						<figure class="diferenciais-figure diferenciais-figure--2">
					  	<img src="images/portao-seguranca.jpg">
						</figure>
					  <div class="card-section">
					    <h2>PORTÃO AUTOMÁTICO OPCIONAL</h2>
					    <h3>Impossível esquecer o portão aberto!</h3>
					    <p>Retorno automático devido às dobradiças importadas.<br>
					    Travamento magnético através da fechadura importada Magna Latch.</p>
					    <p>É impossível a abertura por crianças porque exige puxar um botão que fica do lado de dentro da cerca, a meia altura.</p>
					    <div class="btn btn--primary">Saiba mais</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell">
					<div class="card">
						<h2>Qualidade</h2>
						<p>A Guartecs obteve certificações junto ao SENAI São Paulo  das telas nacionais e importadas.<br>
							As resistências das cercas atendem às normas NF P 30-306, França e ASTM F2286-16, EUA.<br>
						A Guartecs é a única empresa com o selo de Qualidade do Produto SOBRASA.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec sec--galeria">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<h1>Galeria de trabalhos</h1>
					<p>Algumas das 13.000 cercas Guartecs instaladas.</p>
				</div>
				<div class="cell">
					<div class="gallery-container">
						<figure class="gallery-figure">
							<img src="images/tela-azul-coluna-natural-1.jpg" alt="Tela Azul Coluna Natural">
							<figcaption>Tela Azul - Coluna Natural</figcaption>
						</figure>
						<figure class="gallery-figure">
							<img src="images/tela-azul-coluna-natural-2.jpg" alt="Tela Azul Coluna Natural">
							<figcaption>Tela Azul - Coluna Natural</figcaption>
						</figure>
						<figure class="gallery-figure">
							<img src="images/tela-azul-coluna-natural-3.jpg" alt="Tela Azul Coluna Natural">
							<figcaption>Tela Azul - Coluna Natural</figcaption>
						</figure>
						<figure class="gallery-figure">
							<img src="images/tela-azul-coluna-natural-4.jpg" alt="Tela Azul Coluna Natural">
							<figcaption>Tela Azul - Coluna Natural</figcaption>
						</figure>
						<figure class="gallery-figure">
							<img src="images/tela-cinza-coluna-natural-1.jpg" alt="Tela Cinza Coluna Natural">
							<figcaption>Tela Cinza - Coluna Natural</figcaption>
						</figure>
						<figure class="gallery-figure">
							<img src="images/tela-cinza-coluna-natural-2.jpg" alt="Tela Cinza Coluna Natural">
							<figcaption>Tela Cinza - Coluna Natural</figcaption>
						</figure>
						<figure class="gallery-figure">
							<img src="images/tela-cinza-coluna-natural-3.jpg" alt="Tela Cinza Coluna Natural">
							<figcaption>Tela Cinza - Coluna Natural</figcaption>
						</figure>
						<figure class="gallery-figure">
							<img src="images/tela-cinza-coluna-natural-4.jpg" alt="Tela Cinza Coluna Natural">
							<figcaption>Tela Cinza - Coluna Natural</figcaption>
						</figure>
						<figure class="gallery-figure">
							<img src="images/tela-cinza-coluna-natural-5.jpg" alt="Tela Cinza Coluna Natural">
							<figcaption>Tela Cinza - Coluna Natural</figcaption>
						</figure>				
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec sec--sobre">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<h2>Sobre a Guartecs</h2>
					<p>Há 20 anos a Guartecs foi fundada para proteger a vida de crianças.<br>
						Pioneira na América Latina contribui com a redução de acidentes em piscinas,<br>
					tendo mais de 13.000 clientes atendidos, o que<br>
					corresponde a mais de 240.000 metros de cercas instaladas. Muitas vidas salvas.<br>
					Recente pesquisa mostrou que 100% dos clientes estavam plenamente satisfeitos<br>
					e que 30% compraram da Guartecs por indicação.</p>
					<div class="btn btn--secondary">Veja Referências</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec sec--video">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<div class="responsive-embed widescreen">
						<iframe width="1200" height="675" src="https://www.youtube.com/embed/YnQAMXdbprQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec sec--simulador">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<h2>Simulador</h2>
					<p>Ganhe um desenho em computador da sua futura cerca!<br>
					Veja simulação de antes e depois, abaixo.</p>
					<div class="btn btn--primary">Quero simular na minha casa</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec sec--depoimentos">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<h1>Depoimentos de clientes</h1>
					<p>Clientes plenamente satisfeitos com a segurança em suas piscinas</p>
				</div>
				<div class="cell">
					<div class="card">
						<p>Quero agradecer e parabenizar vocês pelo trabalho! Fiquei bastante satisfeito com a solução. Muito bom também a qualidade e o nível do serviço do seu pessoal! Começando pela pontualidade que chegaram hoje pela manhã, conhecimento técnico, e sugestões de melhorias que foram muito boas durante a instalação! Realmente muito bom! Importante destacar o atendimento também do pessoal de vendas que também ofereceu todo o suporte! Parabéns e obrigado!</p>
						<h3>César</h3>
						<span>POÇOS DE CALDAS</span>
						<img src="">
					</div>
					<div class="card">
						<p>Boa noite.. parabéns pelo trabalho… atendimento… prazo e preço… também pela equipe que enviou… educados , obra limpa e com qualidade e eficiência…quanto ao pagamento… combinei com o Tiago que lhe dará informações… abcs e bom final de semana.</p>
						<h3>Sebastião</h3>
						<span>Jaguariúna</span>
						<img src="">
					</div>
					<div class="card">
						<p>Uma experiência ótima , serviço de qualidade, rapidez no atendimento, e execução excelente… Parabéns pelos funcionários super atenciosos e educados . Obrigada</p>
						<h3>Maria das Graças</h3>
						<span>Alphaville</span>
					</div>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell">
					<p>Segundo a SOBRASA e ONG Criança-Segura, capas, telas horizontais e redes de proteção que cobrem a piscina não são eficazes e podem até mesmo facilitar acidentes. Os processos de remoção e recolocação são demorados e propensos ao esquecimento.</p>
					<p>A cerca é removida em minutos, permitindo adequar o ambiente<br>a reuniões sociais de adultos.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="sec sec--contato">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell">
					<h1>Quer mais informações?</h1>
					<p>Preencha o formulário que em breve responderemos sua dúvidas.</p>
					<form>
						<input type="text" name="">
						<input type="email" name=""><input type="tel" name="">
					</form>
				</div>
			</div>
		</div>
	</section>

<%- include('partials/footer') %>