<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
<body>
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell">
				<h1><%= title %></h1>
				<p>Bem-vindo ao Guartecs!</p>
			</div>
		</div>
	</div>
	<script src="/javascripts/foundation.js"></script>
</body>
</html>