body, html {
  margin: 0;
  height: 100%;
  font: normal normal 1rem/1.5 "open_sans", sans-serif; }

a {
  color: #00B7FF; }

h1 {
  color: #222;
  margin-top: 0; }

@font-face {
  font-family: 'baloo_daregular';
  src: url("../fonts/balooda-regular-webfont.woff") format("woff"), url("../fonts/balooda-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sans';
  src: url("../fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sans';
  src: url("../fonts/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'open_sans';
  src: url("../fonts/OpenSans-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

.main-menu {
  background-color: #E4283D; }
  .main-menu ul {
    margin: 10px 0;
    text-align: center; }
    .main-menu ul li {
      display: inline-block;
      padding: 0 10px;
      border-right: 1px solid #F2617C;
      text-transform: uppercase;
      font-family: "baloo_daregular", sans-serif;
      font-size: 18px;
      color: white; }
      .main-menu ul li:last-child {
        border-right: none; }

.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
  min-height: 58px; }
  .header-wrapper .social-media-icons {
    width: 56px; }
    .header-wrapper .social-media-icons img:first-child {
      padding-right: 20px; }

.header-tel {
  color: #E4283D;
  font-family: "baloo_daregular", sans-serif;
  font-size: 22px;
  position: relative;
  top: 5px; }
  .header-tel img {
    position: relative;
    top: -5px; }

.slider-home .slide {
  height: 840px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; }
  .slider-home .slide--1 {
    background-image: url("../images/slide-1-crop.jpg"); }
  .slider-home .slide--2 {
    background-image: url("../images/slide-2-crop.jpg"); }
  .slider-home .slide h1 {
    color: white;
    font-size: 56px;
    line-height: 54px; }
  .slider-home .slide h2 {
    color: #C9ECF7;
    font-size: 42px;
    line-height: 42px; }
  .slider-home .slide .slide-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    text-align: left; }
    .slider-home .slide .slide-content .btn {
      width: 325px; }

button.slick-prev,
button.slick-next {
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  background-size: 58px;
  position: absolute;
  height: 58px;
  width: 58px;
  top: 40%;
  z-index: 1; }

button.slick-next {
  right: 250px;
  background-image: url("../images/slide-arrow.png");
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

button.slick-prev {
  left: 250px;
  background-image: url("../images/slide-arrow.png"); }

.sec {
  text-align: center;
  font-size: 1.5rem; }
  .sec h1 {
    font-family: "baloo_daregular", sans-serif;
    font-size: 50px;
    color: #E4283D; }
  .sec h2 {
    font-family: "baloo_daregular", sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #E4283D; }
  .sec p {
    line-height: 1.4; }
  .sec--slide {
    height: 840px;
    overflow: hidden;
    position: relative;
    z-index: 0; }
    .sec--slide .slide-mask {
      position: absolute;
      bottom: 0;
      z-index: 1; }
  .sec--diferenciais {
    background-color: #F9F5ED; }
    .sec--diferenciais .card--diferenciais .card-section p {
      max-width: 420px; }
    .sec--diferenciais .card--diferenciais .btn {
      width: 300px;
      height: 60px;
      padding: 18px; }
    .sec--diferenciais .diferenciais-figure {
      overflow: hidden;
      border-radius: 10px 10px 0 0;
      height: 250px; }
  .sec--galeria {
    background: #F9F5ED;
    background: linear-gradient(to bottom, #F9F5ED 0%, white 100%);
    background: -moz-linear-gradient(top, #F9F5ED 0%, white 100%);
    background: -webkit-linear-gradient(top, #F9F5ED 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-secondary', endColorstr='white',GradientType=1); }
    .sec--galeria .gallery-container {
      display: flex;
      flex-wrap: wrap; }
      .sec--galeria .gallery-container .gallery-figure {
        width: 380px;
        height: 280px;
        margin: 10px 10px 0 0;
        overflow: hidden;
        position: relative; }
        .sec--galeria .gallery-container .gallery-figure figcaption {
          background: #E4283D;
          opacity: 0.9;
          color: white;
          font-family: "baloo_daregular", sans-serif;
          font-size: 22px;
          width: 100%;
          height: 40px;
          position: absolute;
          bottom: 0;
          padding: 5px; }

.card {
  border: none;
  box-shadow: 6px 0 32px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 10px; }
  .card .card-section {
    background: #fefefe;
    padding: 20px 40px 60px; }
    .card .card-section p {
      margin: auto;
      font-size: 15px; }
    .card .card-section h2 {
      margin-bottom: 20px; }
    .card .card-section h3 {
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 0; }

.btn {
  display: inline-block;
  border-radius: 60px;
  background: #58BEED;
  color: white;
  text-transform: uppercase;
  font-family: "baloo_daregular", sans-serif;
  font-size: 18px;
  padding: 10px 20px; }

.newsletter {
  background-color: #F3EEE4;
  color: #E4283D; }

footer {
  background-color: #E4283D;
  color: white;
  height: 380px;
  overflow: auto; }
  footer .footer-content {
    margin: 75px auto; }
  footer .all-rights-reserved {
    border-top: 1px solid white; }

.footer-menu ul {
  column-count: 2;
  column-width: 150px; }
  .footer-menu ul li {
    display: block;
    text-transform: uppercase;
    font-family: "baloo_daregular", sans-serif;
    font-size: 18px; }
