// COMPONENTS
.card
	border: none
	box-shadow: 6px 0 32px 0 rgba(0,0,0, 0.1)
	margin: 10px
	border-radius: 10px
	overflow: visible
	background-color: white
	&--beige
		background-color: $color-beige
	&--blue
		background-color: $color-blue
	&--red
		background-color: $color-red
	&--padding
		padding: 50px 80px
	.card-section
		p
			font-size: 1rem
		&--extra-padding
			padding: 2rem 4rem
	@media only screen and (max-width: 40.1rem)
		&--padding
			padding: 50px 20px
		.card-section
			&--extra-padding
				padding: 1rem 2rem

.btn
	display: inline-block
	border-radius: 60px
	background: $color-blue
	color: white
	text-transform: uppercase
	font-family: $font-baloo
	font-size: 18px
	padding: 10px 20px
	box-shadow: 0 15px 34px 0 rgba(0,0,0,0.2)
	a
		color: white
		&:hover,
		&:focus
			color: white
			text-decoration: underline
	&--secondary
		background: $color-red
	&--tertiary
		background: white
		color: $color-blue

.highlight
	border: 2px solid $color-red
	border-radius: 100px
	padding: 20px 40px
	position: relative
	.btn
		position: absolute
		left: 50%
		margin-left: -120px
	@media only screen and (max-width: 40.1rem)
		border-radius: 50px

.selos
	list-style: none
	display: flex
	flex-wrap: wrap
	justify-content: space-evenly
	align-items: center
	li
		display: inline-block

.friso
	display: block
	height: 1px
	width: 170px
	border-bottom: 1px dotted #2C2C30
	margin: 20px auto

// Sections
.sec
	text-align: center
	font-size: 1.5rem
	padding: 40px 0
	@media only screen and (max-width: 40.1rem)
		padding: 20px 0

// Accordion
.accordion-title
	font-family: $font-baloo
	text-align: left
	h4
		padding-left: 30px
		margin-bottom: 0
	&:before
		font-family: $font-baloo
		font-size: 28px
.accordion-content
	text-align: left
	font-size: 18px
	position: relative
	.btn
		box-shadow: none
		position: absolute
		right: 10px
		top: 50%
		margin-top: -24px
		@media only screen and (max-width: 40.1rem)
			font-size: 12px
