// COMPONENTS
.card
	border: none
	box-shadow: 6px 0 32px 0 rgba(0,0,0, 0.1)
	margin: 10px
	border-radius: 10px
	overflow: visible
	background-color: white
	position: relative
	&--beige
		background-color: $color-beige
	&--blue
		background-color: $color-blue
	&--red
		background-color: $color-red
	&--padding
		padding: 50px 80px
	.card-section
		border-radius: 0 0 10px 10px
		p
			font-size: 1rem
		&--extra-padding
			padding: 2rem 4rem
	@media only screen and (max-width: 40rem)
		&--padding
			padding: 50px 20px
		.card-section
			padding: 2rem 1rem
			&--extra-padding
				padding: 1rem 2rem

.beige-cards-wrapper
	display: flex
	flex-wrap: wrap
	.card
		max-width: 380px
		align-items: center
		overflow: visible
		position: relative
		figure
			background-color: white
			min-height: 260px
			display: flex
			align-items: center
		img
			width: fit-content
			max-width: 340px
		.title-red
			font-family: $font-baloo
		.card-section
			background-color: $color-beige
			width: 100%
			min-height: 230px
			display: flex
			flex-direction: column
			justify-content: center

.highlight
	border: 2px solid $color-red
	border-radius: 100px
	padding: 20px 40px
	position: relative
	.btn
		position: absolute
		left: 50%
		margin-left: -120px
	@media only screen and (max-width: 40rem)
		border-radius: 50px

.selos
	list-style: none
	display: flex
	flex-wrap: wrap
	justify-content: space-evenly
	align-items: center
	margin: 0
	li
		display: inline-block
		@media only screen and (max-width: 40rem)
			width: 33%

.friso
	display: block
	height: 1px
	width: 170px
	border-bottom: 1px dotted #2C2C30
	margin: 20px auto

// Sections
.sec
	text-align: center
	font-size: 1.5rem
	padding: 40px 0
	@media only screen and (max-width: 40rem)
		padding: 20px 0

// Accordion
.accordion-title
	font-family: $font-baloo
	text-align: left
	h4
		padding-left: 30px
		margin-bottom: 0
	&:before
		font-family: $font-baloo
		font-size: 28px
.accordion-content
	text-align: left
	font-size: 18px
	position: relative
	.btn
		box-shadow: none
		position: absolute
		right: 10px
		top: 50%
		margin-top: -24px
		@media only screen and (max-width: 40rem)
			font-size: 12px
