// GALERIA
.sec--galeria
	.gallery-container
		@extend %display-flex
		flex-wrap: wrap
		justify-content: center
		.gallery-figure,
		.gallery-card
			width: 380px
			margin: 10px 10px 0 0
			overflow: hidden
			position: relative
			img
				@include transition(200ms)
			figcaption
				background: $color-red
				opacity: 0.9
				color: white
				font-family: $font-baloo
				font-size: 22px
				width: 100%
				height: 40px
				position: absolute
				bottom: 0
				padding: 5px
			&:hover
				cursor: pointer
				figcaption
					opacity: 1
				img
					@include scale(1.1)
			@media only screen and (max-width: 40.1rem)
				width: initial
				height: initial
